body {
    background-color: #0a2351;
    color: white;
    font-family: monospace;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#heading-bar-section {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

#logo {
   height: 60px;
   margin-top: 16px;
   margin-left: 10px;
}

#nav-list {
    font-size: 16px;
    list-style: none;
    margin-top: 26px;
}

.nav-tab {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav-link {
    text-decoration: none;
    color: white;
}

#nav-link:hover {
    text-decoration: none;
    color: cyan;
}